<manifest
	xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.android.overlay.shady.recents" platformBuildVersionCode="30" platformBuildVersionName="11">
	<application android:hasCode="false" android:label="Shady Launcher Recents Provider" android:usesNonSdkApi="true"/>
	<overlay android:isStatic="true" android:priority="999" android:targetPackage="android"/>
</manifest>